<main class="w-full h-screen flex flex-col items-center dark:bg-darkBackground">
  <form
    (ngSubmit)="register()"
    class="flex flex-col justify-center w-1/4 mt-8 mb-2"
  >
    <p class="font-sans text-title font-semibold dark:text-darkPrimaryText">
      Welcome
    </p>

    <div *ngIf="errorMessage" class="text-red-500 font-semibold mt-4">
      {{ errorMessage }}
    </div>

    <div class="w-full flex flex-row gap-3">
      <div class="w-full flex flex-col justify-center">
        <label
          for="firstName"
          class="font-sans mt-6 mb-2 dark:text-darkSecondaryText"
          >First Name</label
        >
        <input
          id="firstName"
          type="text"
          [(ngModel)]="firstName"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter first name"
          required
          class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
        />
      </div>
      <div class="w-full flex flex-col justify-center">
        <label
          for="lastName"
          class="font-sans mt-6 mb-2 dark:text-darkSecondaryText"
          >Last Name</label
        >
        <input
          id="lastName"
          type="text"
          [(ngModel)]="lastName"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter last name"
          required
          class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
        />
      </div>
    </div>

    <label
      for="username"
      class="font-sans mt-4 mb-2 dark:text-darkSecondaryText"
      >Username</label
    >
    <div class="relative">
      <input
        id="username"
        type="text"
        [(ngModel)]="username"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter your username"
        required
        class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
      />
    </div>

    <label for="email" class="font-sans mt-4 mb-2 dark:text-darkSecondaryText"
      >Email</label
    >
    <div class="relative">
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter your email"
        required
        class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
      />
    </div>

    <label
      for="password"
      class="font-sans mt-4 mb-2 dark:text-darkSecondaryText"
      >Password</label
    >
    <div class="relative">
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter your password"
        required
        class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
      />
    </div>

    <label
      for="confirmPassword"
      class="font-sans mt-4 mb-2 dark:text-darkSecondaryText"
      >Confirm Password</label
    >
    <div class="relative">
      <input
        id="confirmPassword"
        type="password"
        [(ngModel)]="confirmPassword"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Confirm your password"
        required
        class="outline-none dark:bg-darkBackground dark:border dark:text-darkSecondaryText bg-gray-100 px-4 py-2 rounded-xl w-full placeholder:text-sm placeholder:text-gray-500"
      />
    </div>

    <button
      type="submit"
      class="bg-primary text-white py-2 rounded-xl mt-4 font-sans font-semibold"
    >
      Create new account
    </button>
  </form>

  <button routerLink="/login" class="font-sans text-blue-500">
    Already have an account? Login
  </button>
</main>
