<main class="w-full h-full py-5 px-10 overflow-y-auto">
  <h1 class="font-sans text-title font-bold">Bookmarks</h1>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    class="w-full h-10 mt-2 px-5 bg-gray-100 rounded-xl"
    placeholder="Search your bookmarks"
  />
  <ul class="w-100 px-10 mt-5 flex flex-col gap-4" *ngIf="bookmarks.length > 0">
    <li *ngFor="let bookmark of bookmarks">
      <app-post-card
        [postValue]="bookmark.postValue"
        [postId]="bookmark.postId"
      />
    </li>
  </ul>
</main>
