<div *ngIf="isLoading">
  <p
    class="font-sans text-subtitle dark:text-darkSecondaryText text-tertiaryText"
  >
    Loading profile...
  </p>
</div>

<main
  *ngIf="!isLoading && userData"
  class="w-full h-full py-5 px-10 flex flex-col dark:bg-darkBackground"
>
  <div class="flex flex-row items-center">
    <div class="relative mb-1">
      <label
        class="cursor-pointer"
        (click)="openFileInput()"
        (keyup.enter)="openFileInput()"
        tabindex="0"
        role="button"
        aria-label="Change profile picture"
      >
        <div
          class="w-24 h-24 rounded-full bg-primary flex items-center justify-center overflow-hidden border-2 border-primary"
        >
          <img
            *ngIf="userData.profilePic; else initials"
            [src]="userData.profilePic"
            alt="Profile Picture"
            class="w-full h-full object-cover"
          />

          <ng-template #initials>
            <span class="text-white text-2xl font-semibold">
              {{ userData.firstName.charAt(0)
              }}{{ userData.lastName.charAt(0) }}
            </span>
          </ng-template>
        </div>
        <div
          class="absolute bottom-0 right-0 bg-white rounded-full p-1 shadow-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-primary"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
        </div>
      </label>
      <input
        type="file"
        hidden
        #fileInput
        accept="image/*"
        (change)="uploadProfilePic($event)"
      />
    </div>
    <div class="flex flex-col ml-4">
      <h1 class="font-sans text-title font-semibold dark:text-darkPrimaryText">
        {{
          userData.firstName.charAt(0).toUpperCase() +
            userData.firstName.slice(1)
        }}
        {{
          userData.lastName.charAt(0).toUpperCase() + userData.lastName.slice(1)
        }}
      </h1>
      <p class="font-sans text-text font-semibold dark:text-darkPrimaryText">
        &#64;{{ userData.username }}
      </p>
    </div>
  </div>
  <div class="relative">
    <p
      *ngIf="!isEditing"
      class="font-sans text-text text-gray-400 mt-1 cursor-pointer"
      (click)="toggleEdit()"
      (keyup.enter)="toggleEdit()"
      (keyup.space)="toggleEdit()"
      tabindex="0"
      role="button"
      aria-label="Edit bio"
    >
      {{ userData.bio || 'Click to add a bio' }}

      <button
        class="ml-2 text-gray-500 focus:outline-none"
        (click)="toggleEdit()"
        (keyup.enter)="toggleEdit()"
        (keyup.space)="toggleEdit()"
        aria-label="Edit bio"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          viewBox="0 -960 960 960"
          width="16"
          class="inline-block fill-gray-400 hover:fill-gray-600"
        >
          <path
            d="M200-200h76l372-372-76-76-372 372v76Zm540-408-76-76 52-52q10-10 23-10t23 10l30 30q10 10 10 23t-10 23l-52 52Zm-80 80-372 372H120v-168l372-372 168 168Zm-96-72-38-38 76 76-38-38Z"
          />
        </svg>
      </button>
    </p>
    <input
      *ngIf="isEditing"
      type="text"
      [(ngModel)]="newBio"
      class="bg-gray-100 px-3 py-1 rounded-lg w-full focus:outline-none"
      (blur)="saveBio()"
      (keyup.enter)="saveBio()"
      #bioInput
    />
  </div>
  <div class="w-full mt-3 mx-2">
    <app-user-metrics />
  </div>
  <div class="w-full mt-3 mx-2 overflow-y-auto">
    <app-user-posts />
  </div>
  <div>
    <button
      (click)="logout()"
      class="mx-2 mt-2 w-fit cursor-pointer bg-primary text-text dark:text-darkSecondaryText text-white font-semibold px-5 py-2 rounded-xl"
    >
      Logout
    </button>
    <button
      (click)="toggleDarkMode()"
      class="mx-2 mt-2 w-fit cursor-pointer bg-primary text-text dark:text-darkSecondaryText text-white font-semibold px-5 py-2 rounded-xl"
    >
      Toggle Dark Mode
    </button>
  </div>
</main>

<div *ngIf="!isLoading && !userData">
  <p class="font-sans text-subtitle dark:text-darkSecondaryText text-white">
    User not found!
  </p>
</div>
